/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
body{
font-family:"Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}
*/

html, body, .app {
    height: 100%;
    width: 100%;
}

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
body{
    font-family:"Lota","Avenir" , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , "Roboto" , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , "Meiryo" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    font-size: 24px;
}

.title {
	background: #009826;
	color: #fff;
    border-bottom: 1px solid #009826;
    margin: 0 auto;
    text-align: center;
    vertical-align:middle;
    height: 10%;
}
.timer {
    height: 10%;
    font-size: 14px;  
}
.rist-menu {
	list-style: none;
	overflow: hidden;
	width: 100%;
    height: 80%;
	padding: 0;
}
.rist-menu li {
	list-style: none;
	overflow: hidden;
	width: 100%;
    height: 10%;
	margin: 0;
	padding: 0;
    border-top: 1px solid #009826;
	border-bottom: 1px solid #009826;
}
.rist-menu li:last-child {
	border-bottom: 0px;
}
.rist-menu li a {
	display: block;
	position: relative;
	z-index: 10;
	height: 100%;
	margin: 0;
	padding: 0px 10px 0px 50px;
	background: #fff;
	color: #009826;
	font-weight: bold;
	text-decoration: none;
}
.rist-menu li a:hover {
	background: #009826;
    color: #fff;
}
